<h3>Statistics</h3>
<br/>

<table class="table table-striped">
  
    <tr>
      <th>Week #</th>
      <th>From</th>
      <th>To</th>
      <th>Count</th>
      <th>Avg Distance</th>            
      <th>Avg Speed</th>            
    </tr>

    <% Entry.weekly do |week, entries| %>
	    <tr>
	      <td><%= week %></td>
	      <td>From</td>
	      <td>To</td>
	      <td><%= entries.count %></td>
	      <td>Avg Distance</td>
	      <td>Avg Speed</td>
	    </tr>
    <% end %>

  
</table>