<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; 2014 
          <br/>
          Created By <%= link_to "Eqbal", "http://www.eqbalq.com" %>
          <br/>
          <% if current_user %>
            Token: <%= current_user.api_key.token %>  
          <% end %>
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>
